.env
.venv/
venv/
app/fraud_memory/data
**app/__pycache__/
__pycache__/
.vscode/
app/attachment_sandbox/tests/python-3.12.5-amd64.exe
app/attachment_sandbox/tests/static_predictor.py
app/attachment_sandbox/data/
malware_scan/  
*.py[cod]
*.pyo

app/text_analysis/email_analyzer/gmail_client_secrets.json
frontend/
todos.txt
app/url_analysis/explanations/
packages/
app/text_analysis/email_analyzer/email_model/*
